# Git Ignore File

# Do not ignore
!.gitignore
!.travis.yml
!*.md

# Logs
logs
*.log

# Ignore Folders
.storage
.cloud
.vscode
.Trash-*
deps/
**/__pycache__

# Ignored Files
secrets.yaml
ip_bans.yaml
known_devices.yaml
*.conf
*.db
*.db-shm
*.db-wal
*.uuid
*.mp3
airsonos.xml
cameras.yaml
.pip_progress

# Node-Red
node-red

# Operating System Trash Files
.DS_Store
._.DS_Store

# Alexa Media
alexa_media.*.pickle
