# Git Ignore File

# Do not ignore
!.gitignore
!.travis.yml
!*.md

# Logs
logs
*.log
zigbee2mqtt/log

# Ignore Folders
.storage
.cloud
.vscode
.Trash-*
appdaemon/compiled
custom_components/
deps/
**/__pycache__
node-red/
notebooks/
streamdeck/
themes/
www/

# Ignored Files
secrets.yaml
ip_bans.yaml
known_devices.yaml
.HA_VERSION
*.conf
*.db
*.db-shm
*.db-wal
*.uuid
*.mp3
*.delete
*.pickle
airsonos.xml
#packages/cameras.yaml
.pip_progress
OZW_Log.txt
pyozw.sqlite
zwcfg*.xml
*.log.*


# Node-Red
!node-red/

node-red/*
!/node-red/flows.json


# Operating System Trash Files
.DS_Store
._.DS_Store

# Alexa Media
alexa_media.*.pickle
aircast.xml
zigbee2mqtt/log/2023-08-25.11-19-59/log.txt
